
<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{user.login}}</mat-card-title>
    <mat-card-subtitle>{{user.name}}</mat-card-subtitle>
    <img mat-card-sm-image [src]="this.user.avatar_url" >
  </mat-card-title-group>
  <mat-card-content>
    <mat-card-title>Followers: {{this.user.followers}}</mat-card-title>
    <mat-card-title>Public Repos: {{this.user.public_repos}}</mat-card-title>
    <mat-card-title>{{user.email}}</mat-card-title>

  </mat-card-content>
</mat-card>


