@import "../../../../scss/mixins.scss";


mat-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
}

.buttonWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.spinner{
  position: absolute;
}

.blurBackground{
  @include blurBackgroud
}

.loginWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.logosWrapper{
  display: flex;
  align-items: center;
}

.logo{
  width: 55px;
}
