<section class="loginWrapper">
  <mat-card [ngClass]="{ blurBackground: isLoading$ | async }">
    <header class="logosWrapper">
      <img class="logo" src="../../../../assets/angular.svg" />
      <img class="logo" src="../../../../assets/ngrx.svg" />
    </header>

    <form [formGroup]="loginForm" class="loginForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Github personal token</mat-label>
        <input formControlName="token" type="password" matInput />
      </mat-form-field>
      <section class="buttonWrapper">
        <button
          [disabled]="!loginForm.valid || (isLoading$ | async)"
          (click)="login()"
          mat-raised-button
          type="submit"
        >
          Login
        </button>
      </section>
    </form>
    <button
      mat-raised-button
      routerLink="/users/list"
      [disabled]="isLoading$ | async"
      (click)="setUser()"
    >
      Without login
    </button>
    <mat-spinner class="spinner" *ngIf="isLoading$ | async"></mat-spinner>
  </mat-card>
</section>
