.buttonMargin{
  margin-left: 10px;
}

.wrapperContent{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 20px;
}

mat-tree-node{
  padding: 0;
}

.spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blurBackground{
  opacity: 0.5;
}
