table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

 th {
  width: 15%;
}

.mat-column-description {
  width: 40%;
}

.spinner{
  margin-left: auto;
  margin-right: auto;
}
