<section class="loginWrapper">
  <mat-card [ngClass]="{ blurBackground: showSpinner }">
    <form [formGroup]="loginForm" class="loginForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Gihub login</mat-label>
        <input
          formControlName="name"
          type="text"
          matInput
          placeholder="Ex. loginTest"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Token</mat-label>
        <input formControlName="password" type="password" matInput />
      </mat-form-field>
    </form>

    <section class="buttons">
      <button [disabled]="!loginForm.valid" (click)="login()" mat-raised-button>
        Login
      </button>
      <button mat-raised-button routerLink="/users">Without login</button>
    </section>
    <mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>
  </mat-card>
</section>
