<section class="loginWrapper">
  <mat-card [ngClass]="{ blurBackground: showSpinner }">
    <form [formGroup]="loginForm" class="loginForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Github personal token</mat-label>
        <input formControlName="token" type="password" matInput />
      </mat-form-field>
    </form>

    <section class="buttons">
      <button
        [disabled]="!loginForm.valid || showSpinner"
        (click)="login()"
        mat-raised-button
      >
        Login
      </button>
      <button mat-raised-button routerLink="/users" [disabled]="showSpinner">
        Without login
      </button>
    </section>
    <mat-spinner class="spinner" *ngIf="showSpinner"></mat-spinner>
  </mat-card>
</section>
