mat-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.spinner{
  position: absolute;
}

.blurBackground{
  opacity: 0.5;
}

.loginWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.logos{
  width: 55px;
}
